/* Font Sizes */

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v49-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v49-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v49-latin-700.woff2") format("woff2");
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------------------Header styles */
.header {
  box-shadow: 0 0 3px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 25px;
  position: relative;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #1f2e35cc;
}

.header__item {
  font-size: 18px;
  font-weight: 400;
}

.header__iconBox {
  display: flex;
  align-items: center;
  gap: 24px;
}

#hiddenIcon {
  display: none;
}

/* ------------------------------------------Header Modal Styles */

.header__modal {
  display: none;
}

.header__modal {
  max-width: 260px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  align-items: start;
  justify-content: space-between;
  background-color: #fff;
  color: #1f2e35cc;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  box-shadow: -10px 0 25px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.header__modal.active {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

.header__modal__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-top: 50px;
}

.header__modal__item {
  font-size: 18px;
  font-weight: 400;
}

#closeBtn {
  font-size: large;
}

.header__modaliconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (max-width: 980px) {
  .header__list {
    gap: 20px;
  }
  .header__iconBox {
    gap: 15px;
  }
}

@media (max-width: 800px) {
  .header__item {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .header__iconBox {
    display: none;
  }

  .header__list {
    display: none;
  }

  #hiddenIcon {
    display: flex;
    font-size: large;
    align-items: center;
  }
}

/* ------------------------------------Main page */
/* Hero section */
.hero__container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero__content {
  max-width: 545px;
  width: 100%;
}

.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 134%;
  color: #1f2e35;
  margin-bottom: 24px;
}

span {
  color: #ee4248;
}

.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: #30444e;
  margin-bottom: 24px;
}

.hero__button {
  padding: 12px 32px;
  background-color: #ee4248;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
}

.hero__img {
  max-width: 562px;
  width: 100%;
}

/*-------------------------------------------- Hero page media  */
@media (max-width: 1030px) {
  .hero__content {
    max-width: 420px;
    width: 100%;
  }

  .hero__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 134%;
    color: #1f2e35;
    margin-bottom: 24px;
  }

  .hero__img {
    max-width: 450px;
    width: 100%;
  }
}

@media (max-width: 890px) {
  .hero__content {
    max-width: 380px;
    width: 100%;
  }

  .hero__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #1f2e35;
    margin-bottom: 24px;
  }

  .hero__img {
    max-width: 420px;
    width: 100%;
  }
}

@media (max-width: 790px) {
  .hero__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .hero__content {
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 610px) {
  .hero__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #1f2e35;
    margin-bottom: 15px;
  }

  .hero__text {
    max-width: 470px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #30444e;
    margin-bottom: 24px;
  }

  .hero__button {
    padding: 8px 20px;
    background-color: #ee4248;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
  }
}

/* --------------------------------------------infoPage styles */
.infoPage {
  background-color: #f6f6f6;
}

.infoPage__container {
  display: flex;
  align-items: start;
  gap: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.infoPage__img {
  max-width: 450px;
  width: 100%;
}

.infoPage__content {
  max-width: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoPage__title {
  max-width: 450px;
  width: 100%;
  font-weight: 500;
  font-size: 32px;
  line-height: 134%;
  margin-top: 50px;
}

.infoPage__text,
.infoPage__secondText {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.text__span {
  color: #ee4248;
  font-weight: 500;
  font-size: 18px;
}

/*-------------------------------  InfoPage media style*/
@media (max-width: 990px) {
  .infoPage__secondText {
    display: none;
  }
}
