/* Font Sizes */

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v49-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v49-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v49-latin-700.woff2") format("woff2");
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 35px;
  position: relative;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #1f2e35cc;
}

.header__item {
  font-size: 18px;
  font-weight: 400;
}

.header__iconBox {
  display: flex;
  align-items: center;
  gap: 24px;
}

#hiddenIcon {
  display: none;
}

/* Header Modal Styles */

.header__modal {
  display: none;
}

.header__modal {
  max-width: 260px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  align-items: start;
  justify-content: space-between;
  background-color: #fff;
  color: #1f2e35cc;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  box-shadow: -10px 0 25px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.header__modal.active {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

.header__modal__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-top: 50px;
}

.header__modal__item {
  font-size: 18px;
  font-weight: 400;
}

#closeBtn {
  font-size: large;
}

.header__modaliconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (max-width: 965px) {
  .header__list {
    gap: 20px;
  }
  .header__iconBox {
    gap: 15px;
  }
}

@media (max-width: 800px) {
  .header__item {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .header__iconBox {
    display: none;
  }

  .header__list {
    display: none;
  }

  #hiddenIcon {
    display: flex;
    font-size: large;
    align-items: center;
  }
}
